### Android ###
local.properties

### Build ###
build
release
*.apk

## Common ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
.c9/
.gradle/
*.launch
.settings/
*.sublime-workspace
*.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### Compiled output ###
/classes
/dist
/tmp
/out
/out-tsc
/bazel-out

### Node ###
/node_modules
npm-debug.log
yarn-error.log

### Miscellaneous ###
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

### System files ###
.DS_Store
Thumbs.db
