<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.xms">

	<!--For example if you build xmsadapter module and use account kit in your code, the following permission should be added-->
	<!--uses-permission android:name="android.permission.MANAGE_ACCOUNTS"-->

</manifest>